@import "variables";

@keyframes fade-in {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
}

@keyframes fade-top-bottom {
    0%      { opacity: 0; transform: translateY(-100px); } 
    100%    { opacity: 1; transform: translateY(0); }
}

@keyframes fade-top-bottom-bounce {
    0%      { opacity: 0;   transform: translateY(-80px); }
    50%     { opacity: .6;  transform: translateY(10px); }
    100%    { opacity: 1;   transform: translateY(0); }
}

.fade               { transition: all $transition-speed-normal; }
.fade-in-element    { transition: all $transition-speed-slow; }

.scale {
    transition: all $transition-speed-normal;

    &:hover {
        cursor: pointer;
        transition: all $transition-speed-normal;
        transform: scale($scale, $scale);
    }
}