@import "variables";

.load-more__button {
    width: 50%;
    height: 6rem;
    margin-left: 50%;
    margin-top: 10rem;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid $color-grey-dark;
    font-family: $font-face;
    font-size: $fs-small;
    color: $color-grey-dark;
    z-index: 900;
    cursor: pointer;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-top-bottom 2s;
    
    &-image {
        width: 7.5rem;
    }
    
    &-caption {
        margin-top: 5rem;
        font-size: $fs-large;
        font-weight: 400;
        color: $color-grey-dark;
    }
}

.overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 100%;
    overflow-x: hidden;
    cursor: pointer;
    z-index: 1001;
    transition: all $transition-speed-normal;
}

.pointer {
    cursor: pointer;
}

.no-pointer {
    cursor: default;
}

#red {
    background-color: #FF4949;
}

#orange {
    background-color: #E95E1D;
}

#yellow {
    background-color: #FED130;
}

#green {
    background-color: #5DDA71;
}

#turquoise {
    background-color: #0BF4D8;
}

#blue {
    background-color: #5596F8;
}

#magenta {
    background-color: #EC91EE;
}

#white {
    background-color: #FAFAFA;
}

#black {
    background-color: #333333;
}