@import "variables";

.load-more__button {
    width: 50%;
    height: 6rem;
    margin-left: 50%;
    margin-top: 10rem;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid $color-grey-dark;
    font-family: $font-face;
    font-size: $fs-small;
    color: $color-grey-dark;
    z-index: 900;
    transition: all $transition-speed-normal;
    cursor: pointer;

    &:hover {
        transition: all $transition-speed-normal;
        transform: translate(-50%, 4%);
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-top-bottom-bounce 2s;
    // animation: fade-top-bottom 2s;
    
    &-image {
        width: 7.5rem;
    }
    
    &-caption {
        margin-top: 5rem;
        font-size: $fs-large;
        font-weight: 400;
        color: $color-grey-dark;
    }

    &-text {
        margin-left: 1.4rem;
        font-family: 'Pacifico', sans-serif;
        font-size: 48px;
        font-weight: 400;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #071417, #216d7c);
    }
}

.overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 100%;
    overflow-x: hidden;
    cursor: pointer;
    z-index: 1001;
    transition: all $transition-speed-normal;
}

.pointer {
    cursor: pointer;
}

.no-pointer {
    cursor: default;
}

#red {
    background-color: #ff5e5e;
}

#orange {
    background-color: #ff7f43;
}

#yellow {
    background-color: #ffd748;
}

#green {
    background-color: #6bd77d;
}

#turquoise {
    background-color: #7fe3d7;
}

#blue {
    background-color: #7b95cf;
    // background-color: #5596F8;
}

#magenta {
    background-color: #EC91EE;
}

#white {
    background-color: #fbfbfb;
}

#black {
    background-color: #545454;
}