// fonts
$font-face: 'Baloo Paaji 2', sans-serif;

$fs-large: 2.8rem;
$fs-medium: 2rem;
$fs-small: 1.6rem;
$fs-xsmall: 1.4rem;

// colors
$color-primary: #FF5353;
$color-secondary: #F46A1D;

$color-grey-dark: #333333;
$color-grey-light-dark: #EEEEEE;
$color-grey-light: #F8f8f8;
$color-grey-lighter: #E0DDDD;
$color-white: #FFF;

// spacing
$horizontal-spacing: 5.6rem;
$horizontal-spacing-small: 1.6rem;
$vertical-spacing: 8rem;

// transitions
$transition-speed-slow: 1s;
$transition-speed-normal: .3s;

// scaling
$scale: 1.3;