main.main__content
  .color
    p.color__title
      | Moonlight
    .color__container
      .color__shape
      .color__side
        .color__hexcodes
          span.color__hexcode(onmouseover='colorMouseOver(this);' onmouseout='colorMouseOut(this);' onclick='colorMouseClick(this);') 00F5A0
          span.color__hexcode(onmouseover='colorMouseOver(this);' onmouseout='colorMouseOut(this);' onclick='colorMouseClick(this);') 00D9F5
        .color__side--divider
        .color__likes.scale
          img(src='../img/likes.svg' alt='Likes icon')
        .color__side--divider
        .color__downloads.scale
          img(src='../img/download.svg' alt='Download icon')