footer.footer
  .footer__social
    span social media stuff here maybe?
  .footer__text
    span Created with
    div
      img.footer__heart(src='./img/red-heart.svg' alt='Heart icon')
    span
      | by 
      a.footer__href(href='https://www.tuncay.se') tuncay
  .footer__copyright &copy; 2020 Tuncay Dagdelen