header.landing-page
  .logo
    img.logo-image(src='../img/logo.svg' alt='The logo of Gradiooo')
    p.logo-text GRADIOOO
    //- img.logo-image(src='../img/gradiooo.svg' alt='The logo of Gradiooo')
    p.logo-caption A source of inspiration for beautiful gradients