#toolbar.toolbar.hidden
  .toolbar__logo
  a
  span.toolbar__logo--text GRADIOOO
  ul.toolbar__icons
    li.dropdown.dropdown__tag-colors
      a
        img.toolbar__icon(src='./img/color.svg' alt='Color icon')
      p.toolbar__icon-text Color
      ul.dropdown__content(style='width: auto;')
        .dropdown__colors
          .dropdown__color
            #red.dropdown__circle
          .dropdown__color
            #orange.dropdown__circle
          .dropdown__color
            #yellow.dropdown__circle
          .dropdown__color
            #green.dropdown__circle
          .dropdown__color
            #turquoise.dropdown__circle
          .dropdown__color
            #blue.dropdown__circle
          .dropdown__color
            #magenta.dropdown__circle
          .dropdown__color
            #white.dropdown__circle
          .dropdown__color
            #black.dropdown__circle
    li.dropdown
      a()
        img.toolbar__icon(src='./img/column.svg' alt='Column icon')
      p.toolbar__icon-text View
      ul.dropdown__content
        .dropdown__items#colorView
          .dropdown__item(onclick='rowView()')
            span Row
          .dropdown__item(onclick='columnView()')
            span Column
  .toolbar-likes(onclick='toggleLikesList()' id='toolbarLikes')
    span(class='toolbar-likes__number' id='likesCount')
    img(class='toolbar-likes__icon' src='../img/heart.svg' alt='Saved colors' id='heart-icon')
  .toolbar-likes__list(id='likes-list' class='hidden')