doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  link(href='https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap' rel='stylesheet')
  // <link rel="icon" href="public/img/favicon.svg" sizes="any" type="image/svg+xml">
  title Gradiooo
nav.navigation
header.landing-page
  .logo
    img.logo-image(src='../img/gradiooo.svg' alt='The logo of Gradiooo')
    p.logo-caption A source of inspiration for beautiful gradients
#toolbar.toolbar.hidden
  .toolbar__logo
    img.toolbar__logo--icon(src='../img/gradiooo.svg' alt='The logo of Gradiooo')
  ul.toolbar__icons
    li.dropdown
      a(href='#')
        img.toolbar__icon(src='./img/gradient.svg' alt='Gradient icon')
      p.toolbar__icon-text Gradient
      ul.dropdown__content
        .dropdown__items
          .dropdown__item
            img(src='./img/solid.svg' alt='Solid color icon')
            span Solid
          .dropdown__item
            img(src='./img/mesh.svg' alt='Mesh icon')
            span Mesh
    li.dropdown
      a(href='#')
        img.toolbar__icon(src='./img/color.svg' alt='Color icon')
      p.toolbar__icon-text Color
      ul.dropdown__content(style='width: auto;')
        .dropdown__colors
          .dropdown__color
            #red.dropdown__circle
          .dropdown__color
            #orange.dropdown__circle
          .dropdown__color
            #yellow.dropdown__circle
          .dropdown__color
            #green.dropdown__circle
          .dropdown__color
            #turquoise.dropdown__circle
          .dropdown__color
            #blue.dropdown__circle
          .dropdown__color
            #magenta.dropdown__circle
          .dropdown__color
            #white.dropdown__circle
          .dropdown__color
            #black.dropdown__circle
    li.dropdown
      a(href='#')
        img.toolbar__icon(src='./img/column.svg' alt='Column icon')
      p.toolbar__icon-text Column
      ul.dropdown__content
        .dropdown__items
          .dropdown__item
            img(src='./img/row.svg' alt='Solid color icon')
            span Row
    li.dropdown
      a(href='#')
        img.toolbar__icon(src='./img/sort.svg' alt='Sort icon')
      p.toolbar__icon-text Sort
      ul.dropdown__content
        .dropdown__items
          .dropdown__item
            span Popularity
          .dropdown__item
            span Rating
main.main__content
  .color
    p.color__title
      | Moonlight
    .color__container
      .color__shape
      .color__side
        .color__hexcodes
          span.color__hexcode(onmouseover='colorMouseOver(this);' onmouseout='colorMouseOut(this);' onclick='colorMouseClick(this);') 00F5A0
          span.color__hexcode(onmouseover='colorMouseOver(this);' onmouseout='colorMouseOut(this);' onclick='colorMouseClick(this);') 00D9F5
        .color__side--divider
        .color__likes.scale
          img(src='../img/likes.svg' alt='Likes icon')
        .color__side--divider
        .color__downloads.scale
          img(src='../img/download.svg' alt='Download icon')
  .color
    p.color__title
      | Cherry
    .color__container
      .color__shape.shape-2
      .color__side
        .color__hexcodes
          span.color__hexcode(onmouseover='colorMouseOver(this);' onmouseout='colorMouseOut(this);' onclick='colorMouseClick(this);') F15F79
          span.color__hexcode(onmouseover='colorMouseOver(this);' onmouseout='colorMouseOut(this);' onclick='colorMouseClick(this);') C84E89
        .color__side--divider
        .color__likes.scale
          img(src='./img/likes.svg' alt='Likes icon')
        .color__side--divider
        .color__downloads.scale
          img(src='./img/download.svg' alt='Download icon')
  .color
    p.color__title
      | Candy
    .color__container
      .color__shape.shape-3
      .color__side
        .color__hexcodes
          span.color__hexcode(onmouseover='colorMouseOver(this);' onmouseout='colorMouseOut(this);' onclick='colorMouseClick(this);') FC00FF
          span.color__hexcode(onmouseover='colorMouseOver(this);' onmouseout='colorMouseOut(this);' onclick='colorMouseClick(this);') 00DBDE
        .color__side--divider
        .color__likes.scale
          img(src='./img/likes.svg' alt='Likes icon')
        .color__side--divider
        .color__downloads.scale
          img(src='./img/download.svg' alt='Download icon')
//
  <button>
  </button>
footer.footer
  .footer__social
    span social media stuff here maybe?
  .footer__text
    span Created with
    div
      img.footer__heart(src='./img/red-heart.svg' alt='Heart icon')
    span
      | by 
      a.footer__href(href='https://www.tuncay.se') tuncay
  .footer__copyright &copy; 2020 Tuncay Dagdelen
script.
  /*********************************
  JS for toolbar and color cards
  *********************************
  */
  // https://www.w3schools.com/charsets/ref_emoji.asp
  let emojis = ['129409','9757', '9969', '9996','11088','127801','127881'];
  function randomSelect() {
  return emojis[Math.floor(Math.random() * emojis.length)];
  }
  // Style hexcode on hover
  function colorMouseOver(e) {
  e.style.borderBottom = "2px solid #" + e.innerText;
  e.classList.add('pointer');
  }
  function colorMouseOut(e) {
  e.style.borderBottom = "none";
  }
  // Show confirmation after user clicks on hexcode
  function colorMouseClick(e) {
  let hexcode = e.innerText;
  copyToClipboard(hexcode);
  // e.innerText = 'Copied';
  e.innerHTML = '<p>Copied &#128077;</p>';
  setTimeout(() => {
  e.innerText = hexcode;
  }, 1500);
  }
  function copyToClipboard(str) {
  var textArea = document.createElement("textarea");
  textArea.value = str;
  document.body.appendChild(textArea);
  textArea.select();
  document.execCommand("Copy");
  textArea.remove();
  }
  let LOGO_ID = 'toolbar';
  let element = document.getElementById(LOGO_ID);
  window.addEventListener('scroll', function(event) {
  if (isInViewport(element)) {
  element.classList.remove('hidden');
  element.classList.add('fade-in-element');
  }
  }, false);
  // Returns true if element is within viewport
  function isInViewport() {
  let bounding = element.getBoundingClientRect();
  // Get browser inner width and height with fallback
  let innerWidth = (window.innerWidth || document.documentElement.clientWidth);
  let innerHeight = (window.innerHeight || document.documentElement.clientHeight);
  // Check if element is within viewport
  return (
  bounding.top >=  0              &&
  bounding.left >= 0             &&
  bounding.right <= innerWidth   &&
  bounding.bottom <= innerHeight
  );
  }
