doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  link(href='https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap' rel='stylesheet')
  title Gradiooo | Colors by the community
  include _overlay
  include _header
  include _toolbar
  //- canvas(width="200" height="100" style="border:10px solid #000000;")
  block colors
  button(id='loadMore' onclick='loadColors(this)' style="background-color: #fafafa; width: 300px; height: 60px; border-radius: 8px; margin-left: 50%; transform: translateX(-50%); margin-top: 40px; z-index: -1;") MORE
  include _footer
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='bounding.js')
script(src='color.js')
script(src='main.js')