doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  link(href='https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap' rel='stylesheet')
  title Gradiooo
  include _header
  include _toolbar
  include _content
  include _footer
script(src='main.js')
