doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, viewport-fit=cover')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  link(href='https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap' rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/solid.min.css' rel='stylesheet')
  title Gradiooo | Colors by the community
  include _overlay
  include _header
  include _toolbar
  //- canvas(width="200" height="100" style="border:10px solid #000000;")
  block colors
  button(class='load-more__button' id='loadMoreBtn' onclick='loadColors(this)') MORE
  canvas(id='canvas' width='1200' height='800' style='display: none')
  include _footer
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(src='download.js')
script(src='likes.js')
script(src='bounding.js')
script(src='color.js')
script(src='main.js')